.sec3 {
  width: 100vw;
  min-height: 94vh;
  background-image: url(https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-0.3.5&s=a176324041bf71a93749f51654dc0888&auto=format&fit=crop&w=2535&q=80);
  padding-top: 6vh;
  background-size: cover;
}

.sec3 h1 {
  font-size: 30px;
}

.circlePadding {
  margin: 35px;
  margin-top: 20%;
  display: inline-block;
}

.circleBorder {
  width: 75px;
  height: 75px;
  border: 0px solid #C57E83;
  padding: 0px;
  border-radius: 50%;
}

.circle {
  background-color: #fff;
  width: 75px;
  height: 75px;
  display: inline-block;
  /* margin-top: 20%; */
  border-radius: 50%;
  color: #C57E83;
  font-size: 35px;
}

.circleText {
  margin-top: 17px;
}

@media only screen and (min-width: 441px) {
  .circlePadding {
    margin: 35px;
    margin-top: 20%;
  }
  .circleBorder {
    width: 100px;
    height: 100px;
  }
  .circle {
    background-color: #fff;
    width: 100px;
    height: 100px;
    font-size: 60px;
  }
}

@media only screen and (min-width: 650px) {
  .circlePadding {
    margin: 30px;
    margin-top: 25%;
  }
  .circleBorder {
    width: 100px;
    height: 100px;
  }
  .circle {
    background-color: #fff;
    width: 100px;
    height: 100px;
    font-size: 60px;
  }
}

@media only screen and (min-width: 900px) {
  .circlePadding {
    margin: 35px;
    margin-top: 17%;
    display: inline-block;
  }
  
  .circleBorder {
    width: 150px;
    height: 150px;
    border: 0px solid #C57E83;
    padding: 0px;
    border-radius: 50%;
  }
  
  .circle {
    background-color: #fff;
    width: 150px;
    height: 150px;
    display: inline-block;
    /* margin-top: 20%; */
    border-radius: 50%;
    color: #C57E83;
    font-size: 105px;
  }
  
  .circleText {
    margin-top: 17px;
  }
}


/* C57E83 */


/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #C57E83;
  color: white;
}